[Desktop Entry]
Encoding=UTF-8
Name=Link to Simple voltage controlled oscillator_Circuit Diagram World
Type=Link
URL=http://www.circuitdiagramworld.com/simple_circuit_diagram/Simple_voltage_controlled_oscillator_6031.html
Icon=text-html
